<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Olá</title>
</head>
<body>
    <h1>Lista de Anmais</h1>
    <table>
        <thead>
        <tr>
            <th>Nome do animal</th>
            <th>Tipo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comidas: ${animais}" >
            <td th:text="${animais.nome}">Animais</td>
            <td th:text="${animais.tipo}" >Tipo</td>
        </tr>
        </tbody>
    </table>
    <hr>
</body>
</html>